<h1>{{title}}</h1>

<div>
  <img [src]="imgUrl" alt="" width=300 />
</div>

<div>
  <button type="button" (click)="counterInc()">Click</button>
  <p>Clicked {{count}} times</p>
</div>

<div>
  <input #nameRef type="text" [(ngModel)]="name" />
  <p>Welcome {{name}}</p>
</div>

<div>
  <input type="text" [ngModel]="name" (ngModelChange)="nameChangeDec($event)" />
  <p>Welcome {{name}}</p>
</div>

<div>
  <input type="text" [(ngModel)]="customerName" />
  <p>{{customerName}}</p>
</div>

<div>
  
</div>